color-component{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;

    input[type="color"]{
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }

    .sample{
        width: 55px;
        height: 55px;
        border-radius: 0.25rem;
        display: inline-block;
        box-shadow: inset 0 0 3px rgba(0,0,0,0.15);
        background-color: #000;
        cursor: pointer;
        margin-right: 1rem;
    }

    .label{
        display: block;
        width: 100%;
        font-size: var(--font-xs);
        font-weight: var(--font-medium);
        color: var(--grey-800);
        margin-bottom: 0.25rem;
    }

    input[type="text"]{
        height: 36px;
        line-height: 36px;
        padding: 0 0.5rem;
        background-color: var(--grey-100);
        border: 1px solid var(--grey-300);
        border-radius: 0.25rem;
        color: var(--grey-900);
        transition: all 150ms var(--ease-in-out);
        width: 100%;
        display: block;

        &::placeholder {
            color: var(--grey-700);
        }

        &:hover {
            border-color: var(--primary-400);
        }

        &:focus {
            border-color: var(--primary-400);
            box-shadow: 0 0 0 5px var(--primary-100);
            background-color: var(--white);
        }
    }
}